In [ ]:
import pandas as pd

data = {
    'name': ['Elon', 'Jeff', 'Bill', 'Falguni'],
    'gender': ['M', 'F', 'M', 'F'],
    'income': [53000, 28000, 25000, 44000]
}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df=df[df['income']==df['income'].max()]

In [ ]:
df

In [ ]:
result = df['name'].iloc[0]

In [ ]:
result

In [1]:
import pandas as pd

data = {
    'city': ['Alaska', 'Texas', 'California', 'New York'],
    'area': [1723337, 695662, 423967, 783000],
    'population': [700000, 26448193, 38332521, 19651127]
}

df = pd.DataFrame(data)

In [2]:
df

         city     area  population
0      Alaska  1723337      700000
1       Texas   695662    26448193
2  California   423967    38332521
3    New York   783000    19651127

In [3]:
df=df.set_index('city')

In [4]:
df

               area  population
city
Alaska      1723337      700000
Texas        695662    26448193
California   423967    38332521
New York     783000    19651127

In [5]:
pop_den=df['population']/df['area']

In [6]:
pop_den

city
Alaska         0.406189
Texas         38.018740
California    90.413926
New York      25.097225
dtype: float64

In [7]:
result=pop_den.sort_values()

In [8]:
result

city
Alaska         0.406189
New York      25.097225
Texas         38.018740
California    90.413926
dtype: float64